@model Proj_BTL_NguyenMinhQuang_2018600016.Models.tblProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    String ImagePath = "~/Content/images/products/" + Model.ImagePath;
    String ImagePath1 = "~/Content/images/products/" + Model.AdditionalImage1;
    String ImagePath2 = "~/Content/images/products/" + Model.AdditionalImage2;
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategory.CategoryName)
        </dd>

        <dt>
            Tên hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Meta Tittle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTittle)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src=@Url.Content(ImagePath) width="150" class="img-thumbnail" /> <br />
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Mô tả bổ sung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalDetail)
        </dd>

        <dt>
            Ảnh bổ sung 1
        </dt>

        <dd>
            <img src=@Url.Content(ImagePath1) width="150" class="img-thumbnail" /> <br />
            @Html.DisplayFor(model => model.AdditionalImage1)
        </dd>

        <dt>
            Ảnh bổ sung 2
        </dt>

        <dd>
            <img src=@Url.Content(ImagePath2) width="150" class="img-thumbnail" /> <br />
            @Html.DisplayFor(model => model.AdditionalImage2)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Pid }) |
    @Html.ActionLink("Danh sách sản phẩm", "Index")
</p>
